<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alialfayed.deersms">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.activity.FQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EditMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ContactsWhatsAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WhatsAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GroupContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ContactsSMSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TemplatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CurrentSIMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChoosePlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        Services-->
        <receiver
            android:name=".utils.SMSReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".utils.WhatsAppReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".utils.WhatsappAccessibilityService"
            android:label="WhatsappAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/xml_whatsapp" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

    </application>

</manifest>